
{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="card shadow-lg border-0">
        <div class="card-body p-4">
          <h3 class="text-center mb-4">Welcome Back</h3>

    

          <form method="POST" novalidate>
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label">Username</label>
              {{ form.username }}
              <div class="text-danger small">{{ form.username.errors }}</div>
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              {{ form.password }}
              <div class="text-danger small">{{ form.password.errors }}</div>
            </div>

            <button class="btn btn-success w-100" type="submit">Login</button>
          </form>

          <div class="text-center mt-3">
            <small>Don't have an account? <a href="{% url 'signup' %}">Create one</a></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
