{% extends "admin/admin_base.html" %}
{% block title %}Edit Attendance{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">

    <div class="cardx text-center">
      <h3 class="fw-bold mb-3">Edit Attendance</h3>

      <p class="mb-1"><strong>{{ record.student.full_name }}</strong></p>
      <p class="text-muted mb-4">{{ record.date }}</p>

      <form method="post">
        {% csrf_token %}
        <select name="status" class="form-select mb-3">
          <option value="present" {% if record.is_present %}selected{% endif %}>
            Present
          </option>
          <option value="absent" {% if not record.is_present %}selected{% endif %}>
            Absent
          </option>
        </select>

        <button type="submit" class="btn btn-success px-4" style="border-radius:12px;">
          Update
        </button>

        <a href="{% url 'attendance_daily_report' %}"
           class="btn btn-outline-secondary px-4 ms-2" style="border-radius:12px;">
          Cancel
        </a>
      </form>
    </div>

  </div>
</div>
{% endblock %}
